/*--全般--*/
* {
	line-height: 140%;
	color: #333333;
	font-size: 9pt;
	letter-spacing: 1px;
	font-family:'MS UI Gothic','osaka';
	}
body{
	margin: 0 auto;
	text-align: center;
	background-color: #EDEDED;
	background-image: url(../img/bgimg.jpg);
	background-repeat: repeat-x;
	}
strong{
	font-weight: normal;
	}
table{
	border-collapse: collapse;
	}
ul{
	margin: 0;
	padding: 0;
	}
	
/*a*/
a:link{
	color: #3388CC;
	text-decoration: underline;
	}
a:visited{
	color: #3388CC;
	text-decoration: underline;
	}
a:hover{
	color: #FF901F;
	text-decoration: underline;
	}
	
/*--wrapper --*/
div.wholl_wrapper{
	width: 800px;
	background-color: #ffffff;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	border-style: solid;
	border-color: #4EACB9 #565656 #565656 #565656;
	border-width: 5px 1px 1px 1px;
	}
div.left_wrapper{
	width: 240px;
	float: left;
	}
div.right_wrapper{
	width: 540px;
	min-height: 460px;
	float: left;
	}

div.right_wrapper_height_fix{
	width: 540px;
	float: left;
	}

div.right_wrapper_height_none{
	width: 540px;
	float: left;
	}


/*--p/img--*/
p {
	margin: 0;
	padding: 0;
	line-height: 140%;
	}
img {
	border-width: 0;
	border-color: #000000;
	border-style: none;
	}
h1{
	margin: 0;
	padding: 0;
	color: #777777;
	font-weight: normal ;
	font-size: 9pt;
	}
h2{
	margin: 0;
	padding: 0;
	color: #333333;
	font-weight: normal ;
	font-size: 9pt;
	}
h3{
	margin: 0;
	padding: 0;
	color: #333333;
	font-weight: normal ;
	font-size: 9pt;
	}
	
/*--img--*/
img.img_inline {
	display: inline;
	}
img.img_block {
	display: block;
	}
	
/*--object--*/
object {
	display: block;
	}
	
/*--span--*/
span.strong_red{
	color: red;
	font-weight: bold;
	}

/*--font_color--*/
span.font_red{
	color: #ff0000;
	}
span.font_white{
	color: #ffffff;
	font-weight: normal;
	}
span.font_normal{
	font-weight: normal;
	}
span.font_orange{
	color: #ff6600;
	}
	
/*--header--*/
#header_area{
	padding: 0 20px 0 20px;
	margin: 10px 0 10px 0;
	overflow: hidden;
	}
#header_area h1{
/*	display:block;
	position:absolute;
	top:-9999px;
	left:-9999px;*/
	}
#header_area a{
	text-decoration: none;
	}
#header_area input{
	margin: 0 0 0 460px;
	}

#header_area_left {
    float: left;
    width: 150px;
}

#header_area_middle {
    float: left;
    width: 570px;
    margin:10px 20px 0 20px;
}

#header_area_right {
    float: left;
    text-align: right;
    vertical-align: top;
    padding: 0;
    width: 150px;
    margin-top: 10px;
}

.header_navi{
	width: 760px;
	height: 33px;
	margin: 0 0 0 20px;
	padding: 0;
	background-image: url("../img/header_navi_bg.jpg");
	overflow: hidden;
	border-style: solid;
	border-color: #CECECE;
	border-width: 1px;
	}
.header_navi ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
.navi{
	width: 180px;
	height: 33px;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	text-align: center;
	list-style-type: none;
	white-space: nowrap;
	background-image: url(../img/header_navi.jpg);
	overflow: hidden;
	}
.navi_now{
	width: 180px;
	height: 33px;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	text-align: center;
	list-style-type: none;
	white-space: nowrap;
	background-image: url(../img/header_navi_now.jpg);
	overflow: hidden;
	}
.navi a{
	display: block;
	width: 180px;
	padding: 9px 0 3px 25px;
	color: #333333;
	text-align: left;
	font-size: 10pt;
	}
.navi a:link{
	float: left;
	display: block;
	color: #333333;
	text-decoration: none;
	}
.navi a:visited{
	float: left;
	display: block;
	color: #333333;
	text-decoration: none;
	}
.navi a:hover{
	float: left;
	display: block;
	color: #CE3908;
	text-decoration: none;
	}
.navi_now a{
	display: block;
	width: 180px;
	color: #333333;
	padding: 9px 0 3px 25px;
	text-align: left;
	font-size: 10pt;
	}
.navi_now a:link{
	float: left;
	display: block;
	color: #923C19;
	text-decoration: none;
	}
.navi_now a:visited{
	float: left;
	display: block;
	color: #923C19;
	text-decoration: none;
	}
.navi_now a:hover{
	float: left;
	display: block;
	color: #923C19;
	text-decoration: none;
	}
/*--pankuzu--*/
div.header_pankuzu_area{
	width: 760px;
	height: 18px;
	margin: 2px 20px 2px 20px;
	padding: 0 0 0 0;
	}
div.header_pankuzu_left{
	float: left;
	width: 500px;
	margin: 0;
	padding: 0;
	text-align: left;
	}
div.header_pankuzu_right{
	float: left;
	width: 260;
	margin: 0;
	padding: 0;
	text-align: right;
	}
div.header_pankuzu_right a {
    text-decoration: none;
}
/*--footer_navi--*/
.footer_copyright{
	width: 800;
	height: 50;
	background-image: url("../img/footer_bg.gif");
	text-align: right;
	clear: both;
	}
.footer_copyright p{
	padding: 20 2 0 0;
	font-size: 8pt;
	color: #565656;
	}
.footer_copyright p a{
	font-size: 8pt;
	color: #0066CC;
	text-decoration: none;
	}
	
/*-left_navi-*/
.left_navi{
	width: 200px;
	margin: 0 0 15px 20px;
	padding: 0;
	background-color: #F9F9F7;
	overflow: hidden;
	border-style: solid;
	border-color: #CECECE #CECECE #DADADA #CECECE;
	border-width: 1px 1px 3px 1px;
	}
.left_navi ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
.lnavi{
	width: 200;
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	overflow: hidden;
	border-style: solid;
	border-color: #ffffff #cecece #cecece #CDE5E7;
	border-width: 1 0 1 5;
	}
.lnavi_now{
	width: 200;
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	overflow: hidden;
	border-style: solid;
	border-color: #ffffff #cecece #cecece #4EACB9;
	border-width: 1 0 1 5;
	}
.lnavi a{
	display: block;
	width: 200;
	padding: 6 0 3 20;
	color: #004949;
	text-align: left;
	font-size: 10pt;
	}
.lnavi a:link{
	display: block;
	color: #004949;
	text-decoration: none;
	}
.lnavi a:visited{
	display: block;
	color: #004949;
	text-decoration: none;
	}
.lnavi a:hover{
	display: block;
	color: #CE3908;
	text-decoration: none;
	}
.lnavi_now a{
	display: block;
	width: 200;
	color: #DE5A10;
	padding: 6 0 3 20;
	text-align: left;
	font-size: 10pt;
	}
.lnavi_now a:link{
	display: block;
	color: #DE5A10;
	text-decoration: none;
	}
.lnavi_now a:visited{
	display: block;
	color: #DE5A10;
	text-decoration: none;
	}
.lnavi_now a:hover{
	display: block;
	color: #DE5A10;
	text-decoration: none;
	}
	
/*-left_navi02-*/
.left_navi02{
	width: 200;
	margin: 0 0 15 20;
	padding: 0;
	background-color: #F9F9F7;
	overflow: hidden;
	border-style: solid;
	border-color: #CECECE #CECECE #DADADA #CECECE;
	border-width: 1 1 3 1;
	}
.left_navi02 ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
.lnavi02{
	width: 200;
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	overflow: hidden;
	background-image: url(../img/lnavi02_bg.jpg);
	}
.lnavi02 a{
	display: block;
	width: 200;
	padding: 6 0 3 25;
	color: #004949;
	text-align: left;
	font-size: 10pt;
	}
.lnavi02 a:link{
	display: block;
	color: #004949;
	text-decoration: none;
	}
.lnavi02 a:visited{
	display: block;
	color: #004949;
	text-decoration: none;
	}
.lnavi02 a:hover{
	display: block;
	color: #CE3908;
	text-decoration: none;
	}
	
/*--content--*/
	/*--コンテンツエリア見出しのエリア--*/
	.cont_index_bg{
		width: 540;
		height: 25;
		background-image: url(../img/cont_index_bg.jpg);
		background-repeat: repeat-x;
		border-style: solid;
		border-color: #CECECE;
		border-width: 1 1 0 1;
		}
	/*--コンテンツエリア見出しの文言--*/
	.cont_index_bg p{
		margin: 2 0 0 15;
		color: #377373;
		font-size: 11pt;
		font-weight: bold;
		}
	/*--コンテンツエリア見出しの文言--*/
	.cont_index_bg span{
		margin: 2 0 0 15;
		color: #377373;
		font-size: 11pt;
		font-weight: bold;
		}
	/*--コンテンツエリア--*/
	.cont_area01{
		width: 540;
		text-align: left;
	/*	padding: 20 0 20 0; */
		padding: 0;
		background-color: #F9F9F7;
		border-style: solid;
		border-color: #CECECE;
		border-width: 0 1 1 1;
		}
	/*--flashをdivで囲う時のclass--*/
	.flv_area{
		width: 480;
		height: 360;
		display: block;
		margin: 0 0 15 30;
		}
	/*--コンテンツ内見出しdivのclass--*/
	.cont_index_md{
		width: 480;
		height: 20;
		margin: 0 0 5 30;
		background-image: url(../img/cont_index_md.jpg);
		font-weight: bold;
		}
	/*--コンテンツ内見出し文言のclass--*/
	.cont_index_md p{
		margin: 0 0 0 20;
		font-size: 11pt;
		color: #004949;
		}
	/*--コンテンツ内見出し文言のclass--*/
	.cont_index_md span{
		margin: 0 0 0 20;
		font-size: 11pt;
		color: #004949;
		}

	/*--単発ボタンをdivで囲う時のclass--*/
	.form_button_area{
		width: 100%;
		margin: 0 0 15 0;
		text-align: center;
		}
/*--form--*/
	/*--フォーム全体の設定--*/
	form {
		display: block;
		margin: 0;
		padding: 0;
		}
	/*--フォームをインライン属性にしたい時に使用するclass--*/
	.form_inline{
		display: inline;
		}
	/*--テキストフォーム--*/
	.form_text01{
		height: 20;
		border-style: solid;
		border-color: #969696;
		border-width: 1;
		}
	/*--テキストフォーム--*/
	.form_text02{
		height: 20;
		background-color:#EDF2F2;
		border-width: 0;
		}
	/*--パスワードフォーム--*/
	.form_pass01{
		height: 20;
		border-style: solid;
		border-color: #969696;
		border-width: 1;
		}
	/*--テキストエリア--*/
	.form_textarea01{
		border-style: solid;
		border-color: #969696;
		border-width: 1;
		}
	/*--テキストフォーム--*/
	.form_textarea02{
		background-color:#EDF2F2;
		border-width: 0;
		}
	/*--フォームのボタン--*/
	.form_button{
		color: #ffffff;
		background-color: #69A8A8;
		border-style: solid;
		border-color: #EDF4F4 #3F7776 #3F7776 #EDF4F4;
		border-width: 1;
		}
	/*--ログアウトボタン専用--*/
	.form_button_logout{
		color: #565656;
		background-color: #dedede;
		border-style: solid;
		border-color: #efefef #969696 #969696 #efefef;
		border-width: 1;
		}
	
/*--content内のlayout--*/
	/*枠有り薄緑エリア*/
	.border_bg{
		width: 480;
		margin: 0 0 15 30;
		background-color: #EDF2F2;
		border-style: solid;
		border-color: #CECECE;
		border-width: 1;
		}
	/*枠有り薄緑エリアの文字*/
	.border_bg p{
		padding: 10;
		}
	/*枠無しエリア*/
	.no_border{
		width: 480;
		margin: 0 0 15 30;
		}
	/*枠無しエリアの文字*/
	.no_border p{
		padding: 10;
		}
	/*table*/
	.table_area_noborder{
		width: 480;
		border-width: 0;
		border-style: solid;
		border-color: #cdcdcd;
		margin: 0 0 15 30;
		}

	.table_area{
		width: 480;
		border-width: 1;
		border-style: solid;
		border-color: #cdcdcd;
		margin: 0 0 15 30;
		}
	table.sub02_table{
		width: 480;
		}
	tr.sub02_thead th{
		background-color: #E5EAEA;
		border-width: 1;
		border-style: solid;
		border-color: #ffffff;
		text-align: left;
		font-weight: lighter;
		color: #333333;
		}
	tr.sub02_tbody01 td{
		background-color: #F5F5F5;
		border-width: 1;
		border-style: solid;
		border-color: #ffffff;
	/*	text-align: left;*/
		color: #333333;
		}
	tr.sub02_tbody02 td{
		background-color: #efefef;
		border-width: 1;
		border-style: solid;
		border-color: #ffffff;
	/*	text-align: left;*/
		color: #333333;
		}
/*--spacer--*/
.v_spacer01 {
	overflow: hidden;
	width: 1px;
	height: 1px;
	clear: both;
	}
.v_spacer02 {
	overflow: hidden;
	width: 1px;
	height: 2px;
	clear: both;
	}
.v_spacer03 {
	overflow: hidden;
	width: 1px;
	height: 3px;
	clear: both;
	}
.v_spacer04 {
	overflow: hidden;
	width: 1px;
	height: 4px;
	clear: both;
	}
.v_spacer05 {
	overflow: hidden;
	width: 1px;
	height: 5px;
	clear: both;
	}
.v_spacer07 {
	overflow: hidden;
	width: 1px;
	height: 7px;
	clear: both;
	}
.v_spacer08 {
	overflow: hidden;
	width: 1px;
	height: 8px;
	clear: both;
	}
.v_spacer09 {
	overflow: hidden;
	width: 1px;
	height: 9px;
	clear: both;
	}
.v_spacer10 {
	overflow: hidden;
	width: 1px;
	height: 10px;
	clear: both;
	}
.v_spacer15 {
	overflow: hidden;
	width: 1px;
	height: 15px;
	clear: both;
	}
.v_spacer20 {
	overflow: hidden;
	width: 1px;
	height: 20px;
	clear: both;
	}
.v_spacer25 {
	overflow: hidden;
	width: 1px;
	height: 25px;
	clear: both;
	}
.v_spacer30 {
	overflow: hidden;
	width: 1px;
	height: 30px;
	clear: both;
	}
.v_spacer35 {
	overflow: hidden;
	width: 1px;
	height: 35px;
	clear: both;
	}
.v_spacer40 {
	overflow: hidden;
	width: 1px;
	height: 40px;
	clear: both;
	}
.v_spacer50{
	overflow: hidden;
	width: 1px;
	height: 75px;
	clear: both;
	}
.v_spacer100{
	overflow: hidden;
	width: 1px;
	height: 100px;
	clear: both;
	}
.v_spacer150{
	overflow: hidden;
	width: 1px;
	height: 150px;
	clear: both;
	}
.v_spacer200{
	overflow: hidden;
	width: 1px;
	height: 215px;
	clear: both;
	}
.h_spacer01{
	margin: 0;
	padding: 0;
	width: 1;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer04{
	margin: 0;
	padding: 0;
	width: 4;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer05{
	margin: 0;
	padding: 0;
	width: 5;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer10{
	margin: 0;
	padding: 0;
	width: 10;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer15{
	margin: 0;
	padding: 0;
	width: 15;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer20{
	margin: 0;
	padding: 0;
	width: 20;
	height: 1;
	float: left;
	overflow: hidden;
	}
.h_spacer30{
	margin: 0;
	padding: 0;
	width: 30;
	height: 1;
	float: left;
	overflow: hidden;
	}

.info_msg{
	width:480px;
	border-width: 0;
	text-align:left;
	padding:3px 3px 0 0;
    margin:0 0 8px 30px;
}

.guide_msg{
	width:480px;
	border-width: 0;
	text-align:right;
	padding:3px 3px 0 0;
    margin:0 0 0 30px;
}

.err_msg{
	width:480px;
	border-width: 0;
	text-align:center;	
	padding:3px 3px 0 0;
    margin:0 0 8px 30px;
    color:#8B0000;
}

.back_btn_area{
	width:100%;
	height:20px;
	/*border-width: 0;*/
	text-align:right;
	padding: 3px 3px 3px 0;
    margin:0 0 0 0;
}


.info_msg ul{
	margin: 0 0 0 30px;
	padding: 0;
	}

strong{
	font-weight: bold;
}
